<div class="container my-3">
    <div class="jumbotron">
        <h1 class="display-4">About page</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ipsum doloribus accusamus beatae fugit? Ipsa quia aliquid minus possimus numquam laudantium sed placeat natus, impedit facilis soluta quo omnis corporis!</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vel autem reiciendis sapiente rerum, delectus inventore ex cumque corrupti qui a voluptatum veniam sit nesciunt! Iusto eligendi quaerat eum quisquam!</p>
        <a class="btn btn-primary btn-lg" routerlink="/" role="button">Learn More</a>
    </div>
</div>